@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-list-wrap {
  width: 75%;
  box-shadow: 0px 0px 8px 1px lightgray;
  border-radius: 4px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}

.book-list-header {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.book-list-select {
  padding: 10px;
  width: 200px;
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 4px;
}

#select-icon {
  background: white;
  border: none;
  position: absolute;
  left: 175px;
  top: 10px;
  padding-right: 10px;
}

#create-edit-genre-select-icon {
  background: white;
  border: none;
  position: absolute;
  left: 178px;
  top: 10px;
  padding: 0px 10px 0px 0px;
}

.add-new-book-btn {
  background-color: #1C9C9C;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 0px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.add-new-book-btn:hover {
  background-color: #22BFBF;
}

.book-list-table-wrap {
  width: 100%;
}

table {
  border-collapse: collapse;
}

table, thead, tr, tbody {
  width: 100%;
}

tr {
  height: 60px;
  border-bottom: solid 1px #CACBCE;
}

th, td {
  width: 17.5%;
  text-align: left;
}

button, select {
  cursor: pointer;
}

.book-title {
  width: 30%;
  padding-left: 10px;
}

.book-actions {
  text-align: right;
}

.icon-button {
  background: none;
  border: none;
  margin-right: 20px;
  transition: 0.3s;
  padding: 10px;
  border-radius: 100%;
  color: #525252;
}
.icon-button:hover {
  background-color: #EBEBEB;
}

.modal-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}

.modal-body {
  min-width: 300px;
  height: auto;
  padding: 30px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-body h4 {
  margin: 0px 0px 40px 0px;
}

.modal-body button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-family: inherit;
}

.modal-btn-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-cancel-btn {
  background-color: #CACBCE;
  transition: 0.3s;
}

.modal-cancel-btn:hover {
  background-color: #DFE0E2;
}

.delete-modal-delete-btn {
  background-color: #b53b31;
  color: white;
  margin-left: 20px;
  transition: 0.3s;
}

.delete-modal-delete-btn:hover {
  background-color: #CF5A4F;
}

.add-modal-btn {
  background-color: #1C9C9C;
  color: white;
  margin-left: 20px;
  transition: 0.3s;
}

.add-modal-btn:hover {
  background-color: #2FDADA ;
}

.modal-inputs-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 100%;
}

.modal-inputs-wrap label {
  font-size: 14px;
  margin-bottom: 3px;
  font-weight: 600;
}

.modal-inputs-wrap input {
  width: 90%;
  padding: 8px;
  border-radius: 4px;
  border: 1px #CACBCE solid;
  font-family: 'Montserrat', sans-serif;
}

.modal-input-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.modal-switch-wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.modal-switch-wrap label {
  margin-right: 20px;
  margin-bottom: 0;
}

.create-edit-modal-btn-wrap {

}